[package]
name = "filterlab_ref"
version = "0.1.0"
edition = "2024"

[dependencies]

[dev-dependencies]
criterion = "0.5"
rand = "0.8"
zipf = "7.0"

[[bench]]
name = "read"
harness = false

[[bench]]
name = "write"
harness = false
